.user-info{
  width: 25%;
  height: fit-content;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
}
.information{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px
}