.hero{
  position: relative;
  width: 100%;
  min-height: 1000px;
  padding: 100px 20px;
  display: flex;
  background-image: url('../../assets/hero.jpg');
  background-size: cover;
}
.hero-left{
  flex: 1;
}
.hero-left video{
  border-radius: 10px;
  background-color: black;
  position: absolute;
  top:250px;
  left:260px
}
.hero-right{
  flex:1.5;
  margin: 100px 0;
}
.hero-right :nth-child(2){
  background: -webkit-linear-gradient(45deg, #2FA2B7,  #7D88FD,#F65AAA,#ED3F4B);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:0;
  padding:0
}
.hero-right a{
  text-decoration: none;
}
.hero-right a button{
  margin-top: 50px;
}